body {
    background: linear-gradient(to bottom, white 0%, lightblue 100%);
    font-family: Helvetica;
}

header {
    width: 100%;
    height: 80px;
    background-color: #3B5998;
}

header img {
    height: 150%;
    display: inline;
    float: left;
}

header form {
    height: 100%;
    display: inline;
    float: right;
    margin-right: 150px;
    margin-top: 10px;
}

.sign-in {
    width: 190px; 
    display: inline;
    float: left;
}

header form label,
header form input, 
header form p {
    width: 190px;
    height: 20px;
    margin-right: 8px;
    color: antiquewhite;
    font-size: 13px;
}

header form input {
    float: left;
    width: 160px;
}

header form p {
    margin-top: 5px;
    color: #6d8bcc;
}

#signing-in {
    font-weight: bold;
    height: 20px;
    width: 80px;
    float: left;
    margin-top: 23px;
    background-color: #4e6ba7;
    border: 1px solid black;
    text-align: center;
}

.sign-in label,
.sign-in input {
    display: block;    
}

.main-container {
    max-width: 1300px;
}

.picture {
    margin-top: 30px;
    width: 40%;
    float: left;
}

.picture img {
    margin: auto;
    width: 110%;
}

h2 {
    line-height: 30px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    font-size: 22px;
}

h3 {
    font-weight: 100;
}

.sign-up {
    width: 35%;
    margin-top: 25px;
    margin-left: 120px;
    float: left;
}

h1 {
    font-size: 40px;
}

.big {
    height: 35px;
    border-radius: 5%;
}